.banner {
  height: 250px;
  background-color: rgb(94, 114, 228);
}
.banner-container {
  display: flex;
  padding-top: 90px;
  width: 100%;
}
.btn-container {
  margin-left: auto;
  margin-right: 35px;
}
.banner-btns {
  margin-left: 60px;
  cursor: pointer;
  color: rgb(94, 114, 228);
  border-style: hidden;
  font-size: 24px;
  font-weight: 600;
  border-radius: 5%;
  width: 300px;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
}
.banner-btn {
  cursor: pointer;
  border-style: hidden;
  color: rgb(94, 114, 228);
  width: 75px;
  font-weight: 400;
  padding: 5px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.banner-txt {
  font-weight: 400;
  font-size: xx-large;
  color: white;
  margin-left: 25px;
}
.home-btn {
  height: 10px;
  width: 25px;
}
